/*===================font====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*===================reset====================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #151515;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #fff;
  color: #000;
}

/*=================scrollbar==================*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}

/*===================utilities======================*/


/*===================Kindof Body====================*/

#document {
  transition: .5s;
}

/*===================Hero====================*/

.container {
  padding: 0 2vw;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

.mountain1 {
  position: absolute;
  bottom: -100px;
  width: 1500px;
  right: 0;
  z-index: 19;
}

.person {
  position: absolute;
  width: 650px;
  bottom: -100px;
  left: -70px;
  z-index: 20;
}

.mountain2 {
  position: absolute;
  width: 1100px;
  bottom: -100px;
  left: 0;
  z-index: 18;
}

.mountain3 {
  position: absolute;
  width: 900px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky {
  position: absolute;
  width: 2100px;
  bottom: 250px;
  right: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

.nav-height {
  height: 154px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.5s;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  width: 1.55rem;
  cursor: pointer;
  display: flex;
  ;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 500;
  position: fixed;
  right: 22px;
  top: 18px;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
  transition: 0.2s;
}

.barud {
  width: 1.55rem;
  height: 3px;
  margin: 5px 0;
  background-color: #000;
  border-radius: 5px;
  transition: 0.2s;
}

.change #baru {
  transform: rotate(45deg) translate(2.5px, 4px);
  color: white;
}

.change .bar {
  opacity: 0;
  color: white;
}

.change #bard {
  transform: rotate(130deg) translate(-8.5px, 8px);
  color: white;
}

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px black;
}

section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section img {
  width: 100%;
}

section .container>* {
  margin: 0 2rem;
}

/*===================About====================*/

.content {
  color: #fff;
  transform: translateY(-50px);
}


.imgContainer {
  transform: translateY(-40px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  position: relative;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.border {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  max-width: 8vw;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

.hr {
  border: 1px solid #444;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10vh;
}


/*=================sidenav=====================*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #151515;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  margin: 28px auto;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:nth-child(1) {
  margin: 0;
  padding: 8px 2px;
  margin-right: 0;
}

.sidenav a:nth-child(2) {
  margin-top: 32px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/*============responsive-topnav================*/

.right-align {
  text-align: right;
  margin-right: 8px;
}

.right-align .nav-items {
  margin-top: 20px;
  font-size: 14px;
  ;
}

.nav-items {
  text-decoration: none;
  color: #000;
  visibility: hidden;
  margin-right: 50px;
  transition: .2s;
}

.nav-items:hover {
  color: #444;
}

.visible-nav {
  visibility: visible;
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
*/

/*===============image-grid=============*/

.section-title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 3vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8vh;
}

.row {
  margin: 0 3vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 2vh;
  padding-bottom: 8vh;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  cursor: pointer;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*===================testimonial====================*/

.testimonials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 6vh;
}

.review {
  width: 30%;
}

.review-img img {
  display: block;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 2vh auto;
  cursor: pointer;
}

.review-content {
  color: white;
  margin-top: 5vh;
  text-align: center;
  width: 100%;
}

.line {
  background-color: #00dd00;
  width: 4vw;
  height: 5px;
  margin: 4vh auto;
  border-radius: 10px;
}

.review-info .name,
.review-info .pinfo {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.review-info .pinfo {
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}

/*===================Responsive====================*/

@media(max-width: 1023px) {

  .testimonials {
    flex-direction: column;
    width: 100%;
  }

  .review {
    width: 80%;
    margin: 0 auto;
  }

}

@media (max-width: 850px) {
  section .container {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media(max-width: 600px) {
  .big-title {
    font-size: 12vw;
  }

  .text {
    font-size: .8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .review {
    width: 90%;
    margin: 0 auto;
  }

  .section-title {
    font-size: 5vw;
    margin-bottom: 1rem;
  }

  .hr {
    margin-bottom: 1.5rem;
  }

  .title {
    text-align: center;
  }

  .content {
    text-align: justify;
    transform: translate(-44px);
    width: 110%;
  }

  .border {
    visibility: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .review .review-info .name,
  .review .review-info .pinfo {
    font-size: 5vw;
  }

  .line {
    margin: 2vh auto;
    width: 18%;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .imgContainer {
    transform: translate(-44px, -20px);
    width: 110%;
  }

}